Ο χρήστης πρέπει να μπορεί να κάνει login στην πλατφόρμα

Ο χρήστης πρέπει να μπορεί να κάνει register στην πλατφόρμα

Ο χρήστης θα πρέπει να μπορεί να δεί πληροφορίες λογαριασμών άλλων χρηστών της πλατφόρμας 

Ο χρήστης θα πρέπει να μπορεί να αλλάξει τά στοιχεία του λογαριασμού του 

Ο χρήστης θα πρέπει να μπορεί να διαγράφει τον λογαριασμό του

Ο χρήστης θα πρέπει να μπορει να δεί τα τραγούδια που του αρέσουν

Ο χρήστης θα πρέπει να μπορεί να κάνει like/ unlike ένα τραγούδι

Ο χρήστης θα πρέπει να μπορεί να δεί τα playlist που του αρέσουν

Ο χρήστης θα πρέπει να μπορεί να κάνει like/unlike ένα playlist

Ο χρήστης θα πρέπει να μπορεί να δεί τις προτιμήσεις του λογαριασμού του

Ο χρήστης θα πρέπει να μπορεί να αλλάξει τις προτιμήσεις του λογαριασμού του

Ο χρήστης θα πρέπει να μπορεί να δημιουργήσει ένα playlist

Ο χρήστης θα πρέπει να μπορεί να βάλει/βγάλει τραγούδια σε ένα playlist του

Ο χρήστης θα πρέπει να μπορεί να δεί τα στοιχεία από ένα playlist/album

Ο χρήστης θα πρέπει να μπορεί να αλλάξει τα στοιχεία απο τα playlist του

Ο χρήστης θα πρέπει να μπορεί να δεί τις λεπτομέρειες από ένα τραγούδι

Ο χρήστης θα πρέπει να μπορεί να ψάξει τραγούδια/playlist/καλλιτέχνες με το όνομά τους

Ο χρήστης θα πρέπει να μπορεί να ψάξει τραγούδια με βάση το είδος τους

Ο χρήστης θα πρέπει να μπορεί να δεί τα στοιχεία ενός καλλιτέχνη

Ο χρήστης θα πρέπει να μπορεί να δεί τους καλλιτέχνες της πλατφόρμας

Ο χρήστης θα πρέπει να μπορεί να εγγραφεί ως καλλιτέχνης

Ο χρήστης θα πρέπει να μπορεί να δεί τα album(playlist) ενός καλλιτέχνη

Ο χρήστης θα πρέπει να μπορεί να κάνει follow/unfollow έναν καλλιτέχνη

Ο καλλιτέχνης θα πρέπει να μπορούν να δούν/αλλάξουν τα στοιχεία του λογαριασμού τους

Ο καλλιτέχνης θα πρέπει να μπορεί να ανεβάσει ένα τραγούδι στην πλατφόρμα

Ο καλλιτέχνης θα πρέπει να μπορεί να ανεβάσει ένα album(playlist) στην πλατφόρμα


